/* Add styles for header, main, section, and footer */
header {
    background-color:#cc0099;
    padding: 5px;
    text-align: center;
    color: #ffccff;
}
h1{
    color: #ffccff;

}
body{
    background-color:   #ffe6ff
}
nav{
    background-color:#800080;
    color: #ffccff;
}
main {
    padding: 05px;
    height: 100%;
}

section 
{
    background-color: #ffccff;
    padding: 05px;
    text-align: center;
    color:#800080;
}
.sidenav {
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 10px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
  }

  
.sidebar
{
    background: #800080;
    /* background: rgb(5, 68, 104); */
   float:left;
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
    color: #ffccff;
}
footer {
      background-color:#cc0099;
    padding: 05px;
    text-align: center;
    color: #ffccff;
}

/* Media query for different screen sizes */
@media (max-width: 767px) 
{
    header,
    footer {
        text-align: center;
        color: #ffccff;
    }
}

/* unvisited link */
a:link {
    color: white;
    text-decoration: none;
    text-align: left;
}

/* visited link */
a:visited {
    color:aqua;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: white;
    text-decoration: none;
}

/* selected link */
a:active {
    color: white;
    text-decoration: none;
}

.error{
	
    color: #FF0000;
        
    }
    